<!DOCTYPE suite SYSTEM
"https://testng.org/testng-1.0.dtd">

<suite name="EcommerceSuite">

    <test name="AllTests">

        <classes>

            <class name="tests.SampleTest"/>

            <class name="tests.LoginTest"/>

            <class name="tests.ProductTest"/>

        </classes>

    </test>

</suite>